
body{
color:white;
}


#head-container{
font-size:25px;
background-color:#8E4949;
padding:10px;
}
.sec-container{
display:block;
background-color:white;
color:black;
padding:10px;
}
.third-container{
background-color:#AF7F7F;
padding:10px;
}

button{
border-radius:0.5rem;
height:30px;
padding:2px;
background-color:#8E4949;
color:white;
}

button:hover{
opacity:50%;
}
h3{
color:#8E4949;
font-family:Franklin Gothic Medium;
}
