body{

color:white;
}
#head-container{
font-size:25px;
background-color:#51396D;
padding:10px;
}
.sec-container{
display:block;
backkground-color:white;
color:black;
padding:10px;
}
.third-container{
background-color:#A78FC2;
padding:10px;
}
.options{
display:flex;
flex-direction: column;
width:150px; 
gap:10px;
}

button{
border-radius:0.5rem;
height:45px;
background-color:#8368A0;
color:white;
}
button:hover{
opacity:50%;
}
h3{
color:#51396D;
font-family:Franklin Gothic Medium;
}
