body{

color:white;
}
#head-container{
font-size:25px;
background-color:black;
padding:10px;
}
.sec-container{
display:block;
background-color:white;
color:black;
padding:10px;
}
.third-container{
background-color:#939090;
padding:10px;
}


button{
border-radius:0.5rem;
height:30px;
padding:2px;
background-color:black;
color:white;
}

button:hover{
opacity:50%;
}
h3{
color:black;
font-family:Franklin Gothic Medium;
}
