body{

color:white;
}
#head-container{
font-size:25px;
background-color:#51396D;
padding:10px;
}
.sec-container{
display:block;
background-color:white;
color:black;
padding:10px;
}
.third-container{
background-color:#A78FC2;
padding:10px;
}

button{
border-radius:0.5rem;
justify-content: center;
height:30px;
padding:2px;
width: 100%;
background-color:#8368A0;
color:white;

}
button:hover{
opacity:50%;
}
h3{
color:#51396D;
font-family:Franklin Gothic Medium;
}
