*{
background-color:white;
color:black;
}

#head-container{
font-size:25px;
}
.sec-container{
display:block;
}

button{
border-radius:0.5rem;
height:30px;
padding:2px;
}
button:hover{
opacity:50%;
}
h3{
color:black;
font-family:Franklin Gothic Medium;
}
